@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'IBM Plex Mono', monospace;
}

html {
  background-color: rgb(241 245 249);
}

h1 {
  font-size: x-large;
  font-weight: 700;
}

a {
  font-size: medium;
  font-weight: 500;
}

p {
  font-size: small;
  font-weight: 300;
}